:root {
  --yellow-background-color: rgb(255, 225, 0);
  --title-font-family: "Londrina Sketch", cursive;
  --body-font-family: "Alatsi", sans-serif;
}

.navbar {
  background-color: var(--yellow-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5rem;
  font-family: var(--title-font-family);
  margin: 5px;
}

.navlist {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  font-family: var(--body-font-family);
  list-style-type: none;
}

li {
  padding: 10px;
}
